---
const today = new Date();
---

<footer
  class={`bg-hero-gradient space-x-6 text-gray-300`}
>
  <a href="/"> Home</a>
  <a href="https://twitter.com/solid_js"> Twitter</a>
  <a href="#TODO"> Github</a>
</footer>

<style>
  footer {
    padding: 45px;
    text-align: center;
  }
</style>
