---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<header
  class={`p-4 bg-hero-gradient flex flex-col space-y-3 items-center justify-center min-h-[12rem]`}
>
  <h2 class="text-white text-3xl font-bold">
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  <p class="text-gray-300">{SITE_DESCRIPTION}</p>
</header>
